<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Warface_HELP</title>
</head>
<body>
	<header>
		<h1>Официальный сайт сообщества Warface_HELP</h1>
	</header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
        </ul>
    </nav>
	<header>
		<h2>Публикации</h2>
	</header>
	<header>
		<h3>Социальные сети</h3>
	</header>
  <div class="social-media">
        <a class="vk" href="https://vk.com/ocwarface" target="_blank">Сообщество в VK</a>
		<a class="tg" href="https://t.me/ocwarface" target="_blank">Сообщество в Telegram</a>
    </div>
</body>
</html>
